{% load static %}
    
<!-- Footer -->
    <footer class="text-center text-white" style="background-color: #3f51b5">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5">
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{% url "home" %}" class="text-white" style="text-decoration: none;">Home</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{% url "allsongs" %}" class="text-white" style="text-decoration: none;">All Songs</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{% url "genres" %}" class="text-white" style="text-decoration: none;">Genres</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{% url "artists" %}" class="text-white" style="text-decoration: none;">Artists</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{% url "all_albums" %}" class="text-white" style="text-decoration: none;">Albums</a>
              </h6>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-5" />
  
        <!-- Section: Text -->
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                Welcome to Melodio, where music meets convenience. 
                Melodio is a cutting-edge music streaming platform designed to deliver an 
                unparalleled listening experience to music enthusiasts worldwide.
              </p>
            </div>
          </div>
        </section>
        <!-- Section: Text -->
  
        <!-- Section: Social -->
        <section class="text-center mb-5">
          <a href="" class="text-white me-4" style="text-decoration: none;">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="" class="text-white me-4" style="text-decoration: none;">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4" style="text-decoration: none;">
            <i class="fa fa-google"></i>
          </a>
          <a href="" class="text-white me-4" style="text-decoration: none;">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4" style="text-decoration: none;">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4" style="text-decoration: none;">
            <i class="fa fa-github"></i>
          </a>
        </section>
        <!-- Section: Social -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2024 Copyright: Melodio
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  <!-- End of .container -->